body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.backModalScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color:#000000aa;
}

.filter {
    text-align: center;
    width: 300px;
    float: right;
    /*margin:auto;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

    .table thead th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #d8d8d8;
        font-size: 14px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    .table tbody td {
        text-align: left;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
        transition: .3s;
    }

    .table thead tr th:first-child, .table tbody tr td:first-child {
        border-left: none;
    }

    .table tbody tr {
        transition: 1s;
    }

        .table tbody tr:hover {
            /*color: white !important;*/
            background: #cacaca !important;
        }

    .table thead tr th:last-child, .table tbody tr td:last-child {
        border-right: none;
    }

    .table tbody tr:nth-child(even) {
        background: #f3f3f3;
    }

.NoData{
    width:100%;
    text-align:center;
    font-size:3em;
    color:red;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 10px;
    border-radius: 45px;
    margin-top: 5px;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    /*letter-spacing: 0px;*/
    font-weight: 600;
    color: #524f4e;
    background: white;
    border:0px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

    .floating-button:hover {
        background: #2EE59D;
        box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
        color: white;
        transform: translateY(-3px);
    }

.loadMore {
    text-align: center;
}

.screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -9999;
    opacity: 100;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
select,
textarea {
    max-width: 280px;
}

/*#region loader */
    .loader {
        border: 10px solid #38383847;
        border-radius: 50%;
        border-top: 10px solid #ffffff00;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% - 50px);
        z-index: 9998;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            opacity:0%;
        }

        50% {
            -webkit-transform: rotate(180deg);
            opacity: 100%;
        }

        100% {
            -webkit-transform: rotate(360deg);
            opacity: 100%;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
            opacity: 0%;
        }

        50% {
            transform: rotate(180deg);
            opacity: 100%;
        }

        100% {
            transform: rotate(360deg);
            opacity: 0%;
        }
    }
/*#endregion */
